Lab1_2/Task1/.vs/*
Lab1_2/Task1/TestResults/*
Lab1_2/Task2/.vs/*
Lab1_2/Task2/TestResults/*
Lab1_2/Task3/.vs/*
Lab1_2/Task3/TestResults/*
Lab1_2/Task4/.vs/*
Lab1_2/Task4/TestResults/*
Lab1_2/Task5/.vs/*
Lab1_2/Task5/TestResults/*
Lab1_2/Task6/.vs/*
Lab1_2/Task6/TestResults/*